<%- include("partials/header") -%>
<!-- section 1: header -->
<div class="section-a container-fluid" name="header">
    <h1 class="logo">Bûcketing</h1>

    <h3 class="heading">Welcome to Bucketing!</h3>

    <p class="body-text">This is my first totally non-tutorial app.</p>
</div>
<!-- section 2: features -->
<div class="section-b container-fluid" name="features">
    <div class="row p-3">
        <div class="col-sm">
            <h3>Look Forward</h3>
            <img src="https://via.placeholder.com/150" alt="Placeholder for image">
            <p>Budget for the whole year and make goals for longer</p>
        </div>
        <div class="col-sm">
            <h3>Be Flexible</h3>
            <img src="https://via.placeholder.com/150" alt="Placeholder for image">
            <p>Add payments by how often they actually happen</p>
        </div>
        <div class="col-sm">
            <h3>Commit to Yourself</h3>
            <img src="https://via.placeholder.com/150" alt="Placeholder for image">
            <p>List anything as a commitment, from savings to a daily latte</p>
        </div>
    </div>
</div>
<!-- section 3: call to action -->
<div class="section-a container-fluid" name="call-to-action">
    <div class="row p-3">
    <button class="btn bg-d" type="button" name="signup">Sign Up for Bucketing Now!</button>
    </div>
</div>

<%- include("partials/footer") -%>
